.vscode
magnum/cgmagnum.code-workspace
magnum/.vscode
magnum/tools/__pycache__
magnum/__pycache__
__pycache__
build
dist
install.log
magnum.egg-info
pymagnum.egg-info
pymagnum.code-workspace
*.bak
credentials.txt
Building_a_Magnum_Energy_Adaptor/
source/_build
docs/_build
