.vscode
magnum/.vscode
magnum/tools
magnum/__pycache__
__pycache__
build/**
docs/_build
dist/**
install.log
magnum.egg-info
pymagnum.egg-info
pymagnum.code-workspace
*.bak
credentials/*
source/_build
testdata/**
testing/**
.pymodhis
!testdata/allpackets.txt
!testdata/allpackets.json
!testdata/allpackets.sql
examples/test-mqtt.py
docs/troubleshooting.rst
.magdebug/**
